<nav class="bg-white dark:bg-white fixed w-full z-20 top-0 start-0 shadow-lg">
  <div class="w-screen flex items-center justify-between p-4">
    <a
      href="/"
      aria-label="Voltar a pagina principal do site Advogada Livia de Almeida Lira"
      class="flex flex-col items-center"
    >
      <span
        class="self-center text-lg md:text-2xl font-DMSans font-bold text-black"
        >Lívia de Almeida Lira</span
      >
      <h1 class="font-bold text-xs md:text-sm">
        <a
          href="/"
          aria-label="Voltar a pagina principal do site Advogada Livia de Almeida Lira"
          >Advogada Previdenciária</a
        >
      </h1>
    </a>

    <!-- Botão de menu (hambúrguer) para celulares -->
    <button
      class="inline-flex items-center p-2 text-gray-500 rounded-lg md:hidden"
      type="button"
      aria-controls="navbar-default"
      aria-expanded="false"
      (click)="toggleMenu()"
    >
      <span class="sr-only">Abrir menu</span>
      <svg
        class="w-6 h-6"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 5h14a1 1 0 110 2H3a1 1 0 110-2zm0 6h14a1 1 0 110 2H3a1 1 0 110-2zm0 6h14a1 1 0 110 2H3a1 1 0 110-2z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>

    <div class="hidden md:flex md:w-1/4 flex-row items-center justify-between">
      <a
        href="/"
        aria-label="Voltar a pagina principal do site Advogada Livia de Almeida Lira"
      >
        <h1 class="font-DMSans font-bold text-lg md:text-2xl text-primary">
          Advogada Previdenciária
        </h1>
      </a>
      <span
        ><a
          href="/parceria"
          aria-label="Link que redireciona para a pagina de parceria"
          >Parceria</a
        ></span
      >
    </div>

    <!-- Botão de ação (telas maiores) -->
    <div class="hidden md:flex align-middle justify-center">
      <span
        ><a
          [href]="linkwppSite"
          aria-label="Link que redireciona para whatsapp para falar com o advogado"
          >Fale com um Advogado</a
        ></span
      >
    </div>
  </div>

  <!-- Menu dropdown para celulares -->
  <div
    id="navbar-default"
    [class.hidden]="isMenuHidden"
    class="hidden md:hidden bg-white"
  >
    <ul class="flex flex-col items-start p-4 space-y-2">
      <li>
        <a
          href="/parceria"
          aria-label="Link que redireciona para a pagina de parceria"
          class="text-gray-700 hover:text-primary"
          >Parceria</a
        >
      </li>
      <li>
        <a
          [href]="linkwppSite"
          aria-label="Link que redireciona para whatsapp para falar com o advogado"
          class="text-gray-700 hover:text-primary"
          >Fale com um Advogado</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="flex mt-20">
  <router-outlet />
</div>
