<nav class="bg-white dark:bg-white fixed w-full z-20 top-0 start-0">
  <div class="w-screen flex items-center justify-between p-4">
    <a href="https://flowbite.com/" class="flex flex-col items-center">
      <span
        class="self-center text-2xl font-DMSans font-bold whitespace-nowrap text-black"
        >Lívia de Almeida Lira</span
      >
      <span class="font-bold text-sm"> Advogada Previdenciária </span>
    </a>

    <div class="w-1/4 flex flex-row items-center justify-between">
      <span>Sobre</span>
      <span class="font-DMSans font-bold text-2xl text-primary"
        >Advogada Previdenciária</span
      >
      <span>Localização</span>
    </div>

    <div class="flex align-middle justify-center">
      <span>Fale com Advogado</span>
    </div>
  </div>
</nav>

<div class="flex w-full mt-24">
  <router-outlet />
</div>
