<nav class="bg-white dark:bg-white fixed w-full z-20 top-0 start-0 shadow-lg">
  <div class="w-screen flex items-center justify-between p-4">
    <!-- Logotipo e descrição -->
    <a href="https://flowbite.com/" class="flex flex-col items-center">
      <span
        class="self-center text-lg md:text-2xl font-DMSans font-bold text-black"
        >Lívia de Almeida Lira</span
      >
      <span class="font-bold text-xs md:text-sm">Advogada Previdenciária</span>
    </a>

    <!-- Botão de menu (hambúrguer) para celulares -->
    <button
      class="inline-flex items-center p-2 text-gray-500 rounded-lg md:hidden"
      type="button"
      aria-controls="navbar-default"
      aria-expanded="false"
      (click)="toggleMenu()"
    >
      <span class="sr-only">Abrir menu</span>
      <svg
        class="w-6 h-6"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 5h14a1 1 0 110 2H3a1 1 0 110-2zm0 6h14a1 1 0 110 2H3a1 1 0 110-2zm0 6h14a1 1 0 110 2H3a1 1 0 110-2z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>

    <!-- Links (apenas em telas maiores) -->
    <div class="hidden md:flex md:w-1/4 flex-row items-center justify-between">
      <span>Sobre</span>
      <span class="font-DMSans font-bold text-lg md:text-2xl text-primary">
        Advogada Previdenciária
      </span>
      <span>Localização</span>
    </div>

    <!-- Botão de ação (telas maiores) -->
    <div class="hidden md:flex align-middle justify-center">
      <span>Fale com Advogado</span>
    </div>
  </div>

  <!-- Menu dropdown para celulares -->
  <div
    id="navbar-default"
    [class.hidden]="isMenuHidden"
    class="hidden md:hidden bg-white"
  >
    <ul class="flex flex-col items-start p-4 space-y-2">
      <li><a href="#" class="text-gray-700 hover:text-primary">Sobre</a></li>
      <li>
        <a href="#" class="text-gray-700 hover:text-primary">Localização</a>
      </li>
      <li>
        <a href="#" class="text-gray-700 hover:text-primary"
          >Fale com Advogado</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="flex mt-20">
  <router-outlet />
</div>
