<div class="flex flex-col justify-center">
  <div
    class="flex flex-col h-[200px] sm:h-[300px] md:h-[500px] lg:h-[300px] w-screen bg-gray-600 justify-center items-center text-center"
  >
    <p
      class="flex font-DMSans text-white font-bold sm:text-xl lg:text-4xl lg:w-1/4 lg:p-3"
    >
      Escritório especializado em benefícios do INSS
    </p>
    <p class="font-roboto text-white tracking-[4.6px] p-3 text-sm font-light">
      APOSENTADORIAS
    </p>
    <a
      class="p-3 bg-white border-solid rounded-3xl w-80 font-bold text-sm"
      href="https://wa.me/16993493657/?text=Estou mandando mensagem pelo site."
      >Fale com Advogado</a
    >
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-1 w-4/5 h-[600px] m-auto mt-10"
  >
    <div class="bg-red-500">1</div>
    <div class="bg-gray-700">2</div>
    <div class="bg-sky-600">3</div>
    <div class="bg-red-500">1</div>
    <div class="bg-gray-700">2</div>
    <div class="bg-sky-600">3</div>
  </div>
</div>
