<div class="flex flex-col w-screen h-[3400px] md:h-[1700px] justify-center">
  <div
    class="flex flex-col h-[200px] sm:h-[300px] md:h-[500px] lg:h-[300px] w-screen bg-gray-600 justify-center items-center text-center"
  >
    <p
      class="flex font-DMSans text-white font-bold sm:text-xl lg:text-4xl lg:w-1/4 lg:p-3"
    >
      Escritório especializado em benefícios do INSS
    </p>
    <p class="font-roboto text-white tracking-[4.6px] p-3 text-sm font-light">
      APOSENTADORIAS
    </p>
    <a
      class="p-3 bg-white border-solid rounded-3xl w-80 font-bold text-sm"
      aria-label="Link que redireciona para whatsapp para falar com o advogado"
      [href]="linkwppSite"
      >Fale com um Advogado</a
    >
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-6 w-4/5 md:w-2/4 h-[300px] m-auto mt-10"
  >
    <div
      *ngFor="let item of arrayBeneficios"
      class="h-[300px] border-2 border-gray-600 w-full flex flex-col-reverse rounded-3xl overflow-hidden relative shadow-2xl"
    >
      <!-- Texto centralizado -->

      <div
        class="absolute inset-0 flex flex-col items-center justify-center text-center"
      >
        <h2
          class="text-gray-600 justify-center text-center font-bold font-DMSans text-3xl"
        >
          {{ item }}
        </h2>
        <a
          class="border-2 h-12 mt-10 w-3/4 mr-auto ml-auto mb-6 bg-gray-600 text-white flex p-4 rounded-md font-roboto text-center items-center justify-center"
          [href]="returnLinkSite(item)"
          aria-label="Link que redireciona para whatsapp para falar com o advogado sobre o assunto selecionado"
          >Saiba se você tem direito</a
        >
      </div>
    </div>
  </div>

  <div class="bg-gray-600 flex flex-col text-center align-top">
    <h1 class="m-5 text-white font-DMSans font-extrabold text-2xl">
      Lívia de Almeida Lira
    </h1>

    <h2 class="font-DMSans text-white">
      R. Geraldo de Barros, Sales Oliveira - SP, 14660-000
    </h2>

    <span class="text-white font-DMSans"
      ><i class="ph-fill ph-whatsapp-logo"></i> (16) 9 9349-3657</span
    >

    <h2 class="m-5 text-white font-DMSans font-extrabold text-2xl">Siga-nos</h2>
    <span class="text-white font-DMSans"
      ><a
        aria-label="Ir para a pagina do facebook da advogada Lívia de Almeida Lira"
        href="https://www.facebook.com/share/1BfpEGiGpR/"
        ><i class="ph-fill ph-facebook-logo"></i> Facebook</a
      ></span
    >
    <span class="text-white font-DMSans"
      ><a
        aria-label="Ir para a pagina do instagram da advogada Lívia de Almeida Lira"
        href="https://www.instagram.com/advprevidenciarialivia?igsh=MWFrNTB3aGNtbXcwZQ=="
        ><i class="ph-fill ph-instagram-logo"></i>Instagram</a
      ></span
    >
    <span class="text-white font-DMSans"
      ><a
        aria-label="Ir para o canal do youtube da advogada Lívia de Almeida Lira"
        href="https://www.youtube.com/@livialira1390"
        ><i class="ph-fill ph-youtube-logo"></i>Youtube</a
      ></span
    >
  </div>
</div>
